body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #f0f8ff; /* AliceBlue */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#board {
    background-color: #70c5ce; /* A sky-blue color */
    border: 5px solid #333;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}